In [5]:
import numpy as np
import pandas as pd

In [13]:
n_jobs = 15
n_machines = 4
k = 2.5

setup_times = np.random.randint(1,20,[n_jobs, n_jobs])
for i in range(n_jobs):
    setup_times[i,i] = 0

Columns = ['type','arrival time']
job_data = np.zeros((n_jobs,n_machines+3))

for i, job in enumerate(job_data):
    job[0] = i+1  #type
    job[1] = np.random.randint(1, 10*n_jobs/n_machines) #arrival_time
    process_time = np.random.randint(10, 100)
    for j in range(n_machines):
        job[2+j] = np.random.normal(process_time, 2)  #process_time
    job[2+n_machines] = job[1] + k* process_time
    
for i in range(n_machines):
    Columns.append('process_time'+str(i))
Columns.append('due dates')

job_data_df = pd.DataFrame(job_data, columns = Columns).sort_values(by=['arrival time'])
setup_times_df = pd.DataFrame(setup_times)

display(job_data_df)
display(setup_times_df)
job_data_df.to_csv('job_data.csv', index=False)
setup_times_df.to_csv('setup_times.csv',  index=False)

,type,arrival time,process_time0,process_time1,process_time2,process_time3,due dates
1,2.0,2.0,74.589630,68.566377,75.306307,70.149388,182.0
11,12.0,2.0,47.503289,45.672124,48.772760,46.012003,122.0
14,15.0,2.0,97.315569,96.395938,94.152308,94.561217,244.5
4,5.0,3.0,25.751246,26.615372,24.751307,27.774933,65.5
13,14.0,3.0,53.301904,55.947098,52.988143,55.476520,140.5
0,1.0,4.0,40.344026,34.611306,36.306300,35.445877,96.5
2,3.0,7.0,42.692889,41.267391,42.465332,42.520065,112.0
5,6.0,8.0,94.643828,90.977383,88.193419,90.011388,240.5
6,7.0,11.0,53.934332,49.601091,52.382191,54.250759,141.0
3,4.0,12.0,67.717072,67.876056,68.117755,67.653991,179.5
8,9.0,12.0,70.793993,74.017444,74.101749,71.500375,194.5
7,8.0,24.0,84.866555,87.263338,81.607554,80.937038,229.0
12,13.0,24.0,78.562030,81.300956,80.844302,80.570391,226.5
9,10.0,25.0,72.172442,71.491333,70.390604,69.252236,202.5
10,11.0,27.0,67.214355,69.460805,71.003108,67.297792,202.0

    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14
0    0  14   6   9   3  10  17   4   2  13   9   1  14  11  16
1   14   0   8  14  12  15  15   9   9   1  19  19   6   1   2
2    2  12   0  12  15   8   2  16   9   3  19  13  18  17   4
3   13   4   7   0  13  13   4   7  19  13   6   4  15  12   2
4    1  18   5  12   0  10  15  19   6   5   9   6  12  19  13
5   16  13  16   7  11   0  10  18   4   9   8   1  17   2  14
6   15   1  13  17  10  14   0   4  11   9  10   4   3   2   1
7    7   2  10   2  18   3   2   0   4   1  12   9  16   1  10
8    7  14  17   8  19  17   8   2   0   9  14   6  18   4  15
9   18   8   5   2  13   3  13   1  10   0   9  18   7  15   8
10   2   4   9   9  14  17  16   5  18   9   0  14  18  13  13
11  13   4  17  16   9   1  18   4   1  19  18   0  11  10   8
12  14  12   4  14   7   6  10   6   1   2  12   2   0  10   9
13  10   1  14  18  13  14  14  11   6   5   7  12   7   0  16
14  14  18  15   1   2  16   9   9   7  13  12   7   5   4   0