In [2]:
import numpy as np
import pandas as pd

In [4]:
n_jobs = 15
n_machines = 4
k = 2.5

for n in range(30):
    setup_times = np.random.randint(1,20,[n_jobs, n_jobs])
    for i in range(n_jobs):
        setup_times[i,i] = 0

    Columns = ['type','arrival time']
    job_data = np.zeros((n_jobs,n_machines+3))

    for i, job in enumerate(job_data):
        job[0] = i+1  #type
        job[1] = np.random.randint(1, 10*n_jobs/n_machines) #arrival_time
        process_time = np.random.randint(10, 100)
        for j in range(n_machines):
            job[2+j] = np.random.normal(process_time, 2)  #process_time
        job[2+n_machines] = job[1] + k* process_time

    for i in range(n_machines):
        Columns.append('process_time'+str(i))
    Columns.append('due dates')

    job_data_df = pd.DataFrame(job_data, columns = Columns).sort_values(by=['arrival time'])
    setup_times_df = pd.DataFrame(setup_times)

    display(job_data_df)
    display(setup_times_df)
    job_data_df.to_csv('Experiment_data/job_data'+str(n)+'.csv', index=False)
    setup_times_df.to_csv('Experiment_data/setup_times'+str(n)+'.csv',  index=False)

,type,arrival time,process_time0,process_time1,process_time2,process_time3,due dates
8,9.0,2.0,63.977096,62.442150,63.774922,62.583222,157.0
0,1.0,7.0,64.092619,59.088814,61.841944,57.456708,164.5
7,8.0,7.0,43.452641,46.105539,49.495608,46.373118,124.5
3,4.0,9.0,72.990525,74.766708,73.656388,70.936043,191.5
10,11.0,10.0,80.878488,78.883503,78.092926,77.108212,207.5
11,12.0,10.0,62.797995,68.043647,63.753097,67.991937,175.0
9,10.0,18.0,77.695292,82.522694,80.082177,76.160914,213.0
2,3.0,19.0,60.706621,61.286834,58.637685,59.216763,166.5
14,15.0,21.0,55.262817,50.578792,50.496675,52.756647,151.0
5,6.0,23.0,71.164102,74.043788,70.057561,71.642167,203.0
1,2.0,27.0,78.593730,75.632287,76.140515,77.718855,222.0
13,14.0,31.0,60.557901,61.584041,61.837950,59.410154,186.0
4,5.0,35.0,67.868128,69.145597,68.493128,67.123620,210.0
12,13.0,35.0,77.508601,75.286371,76.385055,77.966842,227.5
6,7.0,36.0,92.856924,95.378916,95.694947,95.554335,276.0

    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14
0    0  12  10   3  11   3   3   8  10  17  19   8   6  12  11
1    5   0  13  13   1  12   4   1  11  10  12   7  17   7  18
2    6  15   0  14  14  13   7   2   9  17   8  10   6   6   8
3   13   5   6   0  14  15  18  13  14   8  11   4  16  10  12
4    2   3  15   1   0   5  16  14  11   4   6  10   2  19   7
5    1   1   8   9  13   0  10   2  16   2   7  12   6  18  16
6   18   7   7   3  10   5   0  15   3  16   6   7   1   4  12
7   13   5   7   5  16  11   4   0   2   1  14  19   5  10   3
8    8  16  12  10  16   1  12  16   0  16   5  10   1   3  16
9    2  17  18  16  18  13   1  18   5   0  13   2  11  12   2
10   6   5  19  15  17  12  13   9   1   2   0  12   7   1  18
11  19   9   1  12  10  11  12   7  10  13   9   0  13  15   9
12   8   5  16   9   8  16   3   2  10   4  13  16   0  13   9
13  15   6   6  17  13   2  19   6  13   1   7   4   8   0   6
14  19   3   2  15  11  17  17   3   9  12   3  10  11  12   0

,type,arrival time,process_time0,process_time1,process_time2,process_time3,due dates
5,6.0,3.0,75.382207,72.237204,76.748201,73.311104,193.0
8,9.0,3.0,66.579777,61.473602,66.535794,64.791025,163.0
2,3.0,5.0,60.964221,57.657241,57.707852,58.419060,155.0
7,8.0,6.0,36.151872,39.496989,36.148592,36.442070,103.5
4,5.0,10.0,89.945692,91.570353,86.909622,88.262672,232.5
12,13.0,13.0,11.086946,9.648643,9.381535,11.704982,38.0
10,11.0,16.0,23.573175,29.589837,28.760320,30.053819,86.0
1,2.0,18.0,58.843639,64.849058,58.751492,60.916861,165.5
14,15.0,20.0,35.362086,35.204730,35.838615,36.799048,110.0
9,10.0,25.0,73.962869,69.314971,69.901812,72.033880,205.0
6,7.0,27.0,100.369716,96.883130,97.086147,99.407074,274.5
13,14.0,27.0,78.946313,74.861790,80.847904,82.017327,229.5
0,1.0,33.0,44.512256,46.769306,43.275066,43.995828,145.5
3,4.0,34.0,61.354483,64.150357,57.228276,62.029201,186.5
11,12.0,34.0,30.013902,32.575261,32.595953,32.826559,111.5

    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14
0    0   1  13   6  18  10   3  10  15   9   1  18  12   1   7
1    9   0  12  13  17   8   2   9  13  11   7  11   9   4  15
2   18   6   0  14  18   3  16   4   2   2  17   9  11   6  10
3    5   5   6   0   5  14   4   8   2   4  19  19  17   7   8
4    5   2   1   6   0  16  19  18  14   6   4  17  13   8  10
5    5  17   5  14   9   0  14   7  17  18   1  16  13  11  13
6   10   2  15   5  17  17   0  11  12  17  11  11   7   8   6
7    6   9   5  13  19  17   5   0  10  13  15  13  10   8  19
8   18  19  10  13  11   8   7   3   0   6  16   7  19   2   9
9    9  16   7   6   8  12  17   1   9   0   8  16  12  18  19
10  17   3   5  19   9   8  13  15   2  15   0   4  14   9  19
11  16   1   6   2  18  19  12  12   3  12   7   0   2   6   7
12  13   2   2   1   6   3   3  18  10  15  10   6   0   6   6
13   5  18   2   9   3   7  11  12   4   3   4  16   3   0   3
14   8  12   4   5   1  18   6   2  13  17  12  17  16  12   0

,type,arrival time,process_time0,process_time1,process_time2,process_time3,due dates
13,14.0,2.0,72.185720,69.260922,70.620524,69.364927,182.0
10,11.0,3.0,10.202477,11.122079,10.578261,10.935732,35.5
2,3.0,6.0,69.472300,69.986544,70.968396,73.615123,181.0
3,4.0,7.0,17.671746,18.256320,20.346482,17.233454,54.5
7,8.0,9.0,85.120924,85.458241,87.819835,85.389666,221.5
14,15.0,11.0,51.301818,52.289548,55.235598,52.015057,141.0
8,9.0,14.0,75.080320,72.407635,73.311278,72.931449,194.0
11,12.0,15.0,33.624044,32.407623,31.097130,38.702270,97.5
1,2.0,17.0,30.181095,30.485927,29.722085,27.231533,92.0
5,6.0,19.0,84.088963,80.578459,84.526949,84.180130,224.0
12,13.0,24.0,81.543713,77.146415,81.763833,76.008752,221.5
0,1.0,29.0,57.282606,57.667006,54.550012,54.816129,171.5
4,5.0,30.0,92.617913,95.738045,94.886519,92.213904,260.0
6,7.0,32.0,14.815324,13.469276,17.442649,13.473558,72.0
9,10.0,34.0,88.463146,85.928418,83.375372,89.840659,251.5

    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14
0    0   3   6  11   4   6   3  10   6   9   6  14  15   4  18
1   17   0   4   5  18  15   9   4   6   3  16   8   3   5  13
2   14   5   0   4   5  17   5   9   2  17  14   7  13  16  14
3    3  15  19   0   1   4  10  14   1   2  13   6  13   8  15
4   11  11   8   3   0   4  17  17   8  11   5  13  13   2   8
5    8   6  14  12   9   0   5   5  15   5  12   4  16  16   5
6   10  13  12   5  10  18   0  17   9   1   9  19  17   4  15
7    5   3  17  13  17   5  19   0   7   3  12   4  16  11  10
8    8  15  12   8  16   6  17   2   0  10  15   3   9  11   3
9    4  18  10  10  18   6   8   6   6   0   6   8   9   6  19
10   8   1  12  12   7   6   3   1  16   1   0   1   3  14  14
11   5   9   8  11  17  11  17  16  13   8  18   0   1   9   7
12  13  15   7  11   1   3  17  14   5   6  12  14   0   3  16
13   5   3   8   6   9  12   7   2   8  18   3   5   7   0  15
14  13   7   7   2  12  15   1  13   4  14  19  18  11  18   0

,type,arrival time,process_time0,process_time1,process_time2,process_time3,due dates
10,11.0,2.0,48.828628,50.820868,49.344875,52.419628,129.5
14,15.0,2.0,66.294476,66.979672,63.971901,66.686795,167.0
3,4.0,4.0,70.612244,68.783247,71.685719,72.040266,181.5
5,6.0,4.0,88.699989,92.267539,89.318184,90.467881,229.0
9,10.0,4.0,68.799476,64.874873,65.498329,65.896503,169.0
7,8.0,12.0,47.880263,48.388266,48.304333,48.006252,132.0
8,9.0,16.0,42.749325,39.470055,43.860504,41.135893,118.5
11,12.0,18.0,77.736781,76.644476,72.768278,77.980574,205.5
13,14.0,20.0,50.189592,52.634066,53.261489,55.598042,155.0
1,2.0,29.0,89.915895,87.574016,90.862597,88.269822,251.5
4,5.0,29.0,38.409733,36.363158,38.701913,37.284538,126.5
2,3.0,30.0,72.754765,73.348224,73.365594,69.306035,210.0
0,1.0,31.0,38.809586,40.904359,38.622508,36.709370,128.5
6,7.0,31.0,98.310212,95.663852,99.417200,99.605760,273.5
12,13.0,36.0,75.514457,73.023748,76.360898,72.643566,221.0

    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14
0    0  11  18  17  15  16  14  15  16   7   3   5  11  13  17
1   13   0   5  18   1   1   7   3   3  15  11  14  14   4   5
2   19   5   0   9  15   4  17  13  11  15   3  16  19   4   7
3   15  13   3   0   7  14   8   5  15  17  18  13  19  18  10
4    8  14  15  19   0   8   2   8   4   7  14   3  11  16   2
5    3   2  11  16   8   0  11   7  18  15  14   9   3  19   4
6   13   5  16   6  19   7   0   7  17   8  19  10  15   5  17
7   12  15  11  16  10   2  16   0   4   5  17   5   9   5  17
8    3  18  18  12   5  15   9  11   0  12  18  16  11   6  19
9   19   2   1  11  14   7  16   6   6   0  13   4   9  15  19
10   5   6  12  15   7   4  10   3   7   1   0  10  19   7   2
11   5  12  14  10   8  12  10  18   8  18  10   0   9  19   6
12   8   6  10  14   9   4  18   5  11  11   5  16   0   7   6
13  15  16  19   9  12   4   8   8   5  18   1   7   3   0  11
14  12  15   9   1   4  13  18   9  15  11  18   8   6   3   0

,type,arrival time,process_time0,process_time1,process_time2,process_time3,due dates
14,15.0,1.0,52.173524,57.844819,55.050487,56.086068,133.5
8,9.0,4.0,81.837447,86.952791,86.491855,91.232613,219.0
3,4.0,15.0,22.183394,26.183970,23.970999,23.170401,75.0
7,8.0,15.0,72.103019,72.630866,71.668735,72.035613,195.0
5,6.0,16.0,17.207171,12.767600,13.258887,13.822425,53.5
9,10.0,16.0,57.014796,56.035850,52.674555,58.020947,158.5
2,3.0,21.0,10.587576,15.238058,9.411709,14.956842,53.5
13,14.0,24.0,30.741254,30.381741,31.871361,31.360825,99.0
6,7.0,25.0,77.983990,74.649093,75.931942,75.467927,212.5
4,5.0,26.0,68.019337,65.850890,63.941688,65.014508,193.5
10,11.0,29.0,58.464536,61.208436,58.494584,60.758224,176.5
12,13.0,30.0,15.088902,16.300290,15.402221,14.518580,70.0
11,12.0,31.0,48.014880,50.918432,48.862404,48.056393,151.0
0,1.0,34.0,23.420196,24.154048,27.052983,22.228877,91.5
1,2.0,34.0,18.357589,16.184262,15.435949,19.295058,79.0

    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14
0    0  14  18  14   6  10   2  14   1   5   1   1  11  19  12
1    5   0  17  11   1  18   3  16   7  15   1   9  18   5  17
2   16  11   0   2  16  11  13  11  15  18  19   1  16  18   8
3    5   2   5   0   9  13  19  19  11   9   1  13   2  16   2
4    6  16  13   7   0  15  10   2  13  12   8   9   7   9  10
5   18   3   6  14  15   0   4   2  16  14  15  12  18   6   1
6    9   7  11  16   5   6   0   9  14  11   6   7   3   2  14
7    3  14   6  14   6  19  16   0  19   2   7  11   6   7  13
8    2   4   5  13   8   7  19  12   0   3   3  16   7   1   2
9   14  15   7  15   3   2   8   4  12   0  15   7   8  10  14
10   3  15  18  11   4   8   9   6  16   4   0  17  17  16   3
11  11   5  12   1  16   9  16  14   7  18   9   0  18  10  10
12  10   5  11   9  12   7  11   7   5  19  10   4   0  18   6
13  11  11   6   5   1  15  11  16   7  14  11   4  15   0  13
14  11   3   8   6  14  18   2   8  10   9  10  18   4  11   0

,type,arrival time,process_time0,process_time1,process_time2,process_time3,due dates
5,6.0,1.0,57.076304,56.441587,56.608109,59.376302,146.0
2,3.0,3.0,19.334992,20.657019,17.621046,20.677466,50.5
13,14.0,3.0,13.966211,16.669812,13.265366,15.187886,38.0
3,4.0,6.0,97.521295,97.637205,99.281507,97.615950,248.5
12,13.0,6.0,73.155992,72.374037,72.277325,76.699196,193.5
6,7.0,9.0,53.325504,53.205402,55.254424,51.618123,144.0
10,11.0,9.0,52.982305,56.694919,54.562631,55.708883,149.0
11,12.0,17.0,77.914804,74.013990,76.253579,78.075551,207.0
9,10.0,20.0,58.994843,60.842505,59.714488,58.673997,167.5
14,15.0,21.0,65.789329,68.919684,67.472228,66.835266,188.5
4,5.0,22.0,89.899739,89.750745,89.387704,89.337389,244.5
8,9.0,22.0,92.326787,90.705955,89.198544,88.727720,252.0
0,1.0,24.0,98.342897,96.986652,100.911867,99.973244,271.5
7,8.0,28.0,42.406074,45.229832,42.149128,43.818734,133.0
1,2.0,31.0,92.844018,96.421058,92.854741,96.637226,266.0

    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14
0    0  18   9   9  19   6   9   7   1  13  15  15  15   3   3
1    3   0  17  12   2   6   8  14  13   6  11  13   9  13   3
2   15  14   0  19  17  19  11   7   5   6   3   4  18   9   5
3    5   8   9   0   8   8  10  11  10  18  12  11  17   5  19
4   12  15  19  10   0  16   9  14  12  19  11   6  13  19  10
5    1   6  10  15  14   0   3   7   2   7   9   5  10   8  11
6    3  15   8   4  13  19   0   6   7   3   1  13   7   3   9
7   15  13  18   5  14   2  19   0   3  15  18  14   3  11   5
8   18  14  19  13  14   5   4  19   0  18  10   3   6  13   3
9    1   6   6  10  18  10  17   7  14   0   4  10   5   9  16
10  13   5  12   3  15  10  17   3  16  18   0  19  14  14  13
11  12   3   5  10   1  14   3  16  17  13  16   0   4  16   9
12  10   8  17   8  15  12   7  17  12   5   5  12   0  13  11
13  17  14   2  15   4  19  16  14  14   4  10   3  13   0  17
14  18  16  19  14  16   9  14   2   4  10  16  19  18   1   0

,type,arrival time,process_time0,process_time1,process_time2,process_time3,due dates
13,14.0,3.0,52.846416,49.201861,51.010545,52.143004,135.5
0,1.0,5.0,87.504185,86.650264,84.555393,87.891761,222.5
9,10.0,5.0,31.874036,29.093308,25.773811,29.992351,80.0
1,2.0,6.0,36.928380,37.312042,37.743694,41.810046,106.0
2,3.0,6.0,68.314452,69.779417,72.755965,72.608338,181.0
3,4.0,9.0,78.416269,76.854200,80.869445,76.385561,204.0
12,13.0,11.0,35.191779,33.629059,35.510052,34.342471,98.5
5,6.0,20.0,60.409103,56.742083,58.465748,57.713131,165.0
6,7.0,21.0,52.293479,51.352061,46.602396,53.239563,148.5
11,12.0,22.0,38.451540,37.957112,37.797095,41.181089,122.0
8,9.0,24.0,85.653544,86.460839,85.125811,85.136934,241.5
14,15.0,25.0,43.240977,46.211129,45.401208,43.238103,137.5
4,5.0,29.0,70.512263,69.615248,70.350588,70.948660,204.0
7,8.0,31.0,69.982430,65.310599,67.050406,69.356375,203.5
10,11.0,32.0,76.628620,77.276875,76.684040,72.810931,222.0

    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14
0    0  14  19  18  14  11  12  17  13   8  13   2   9  12   3
1   11   0  13  13   8  18   4  14  18  12  10  12  18  15   6
2   18  18   0   7   6  17   3  16   4   1   2  13  14   7   4
3    2   9  17   0  12   9  15  12  11   4   9   9   3  14  10
4   17   9  17   7   0   2  15   5  15  18   6  17   2  10   4
5    5   6  11  15  10   0   2   9   3  12  13  10  15  12  13
6    7   1   1  10  12   4   0   5   1  13   4   1   8  11  19
7    2  13   4  11  12  14   1   0   5   4   4   9  18   9   6
8   12   2  19  17   6   3  13  10   0  13  11   6  19   3   7
9    5   3   5  18  12   3   3   4  14   0   1  19   7   3  12
10   6  13   3  15  16   4  10  17  17  15   0   4  17  16  11
11   5  10  19  17   3   5   4   5   1   4   6   0   3  15   3
12   6  14  18   5   3   5  12   5  15   9  16  11   0  17  16
13   8   3   8   9  10   9   9   4  12   7  13  15   2   0   7
14  16   9   5   2  16   5  13  10   5   9   8  18  19   9   0

,type,arrival time,process_time0,process_time1,process_time2,process_time3,due dates
10,11.0,1.0,76.416087,76.874233,78.953944,74.292877,196.0
3,4.0,5.0,46.073622,46.791003,43.341950,43.826639,115.0
6,7.0,6.0,68.736818,67.955171,66.219121,70.894868,176.0
7,8.0,6.0,88.943426,89.702806,87.392406,86.941777,228.5
11,12.0,6.0,60.275300,59.692701,59.568904,59.207361,158.5
5,6.0,10.0,21.396808,15.038241,19.925455,18.565273,60.0
12,13.0,10.0,32.509266,33.255497,30.351817,26.357671,85.0
8,9.0,12.0,49.127576,50.881079,45.278465,45.075274,132.0
2,3.0,13.0,19.647706,20.988829,18.928060,18.239406,63.0
13,14.0,17.0,14.519904,18.444475,18.074620,14.916060,57.0
1,2.0,18.0,91.932842,91.843919,92.623854,89.405805,248.0
9,10.0,21.0,91.612017,87.986127,87.807620,87.401047,243.5
0,1.0,29.0,11.610989,14.931475,13.575986,14.452178,66.5
4,5.0,32.0,40.626352,44.618862,43.865506,40.631334,137.0
14,15.0,34.0,88.288623,90.041545,90.896697,86.552372,254.0

    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14
0    0   4  17  13   3   6   9  12  11  15  14   2  19  10   5
1    3   0   8  10  15  16  15   6  16   7  19   1  17  14  17
2   14   1   0   8   4  16   2   8  14  18   9   4  11   1  15
3    2  11  12   0  14  18   4   5   6  11   5  13   2   2   3
4   13  14  14  16   0  13  18  17   1   7   9   8  15  12  17
5   12   4  11   3  14   0   3   6   1   8   2   5  19   8  18
6    6   2   4   4  15  15   0   4   3   4  13  16  14   6   4
7    9  12   3   9  13   9  15   0   5  18  12  17  10  16   2
8    5   2   9  16  18  17   7   3   0  15   3   2   2   2  19
9   19   4  19   3  15   7  16   3  10   0  19  10  11   4   3
10  14  11  14   4  13  10   8  18  18   3   0   3   1   5   9
11  11   6  11  19  16  19  10  14   6   9  17   0  10   3  12
12   4  15   6  11  14  11  14  10   5   8  10   3   0  11   7
13  15   9   9  15   1   7   9   9  19  11   8   7  18   0  11
14  17  18  16  10   4   1  19   7  11   6   3  12  14   1   0

,type,arrival time,process_time0,process_time1,process_time2,process_time3,due dates
3,4.0,3.0,43.880845,39.294171,40.088309,42.473973,105.5
8,9.0,3.0,66.126432,69.611919,65.921212,71.279526,173.0
0,1.0,6.0,89.228960,87.325879,91.820197,85.653473,231.0
4,5.0,11.0,16.976635,17.887156,11.338869,20.701923,53.5
11,12.0,14.0,67.599317,72.237776,68.464264,68.877421,186.5
1,2.0,16.0,72.578647,70.959022,73.411235,74.763985,198.5
13,14.0,16.0,90.778957,91.228893,91.605043,93.272063,243.5
12,13.0,22.0,10.862275,14.665028,12.858553,10.148407,49.5
14,15.0,23.0,59.881559,56.889166,66.656959,62.727047,175.5
5,6.0,24.0,88.440743,87.401887,87.248635,85.387685,239.0
6,7.0,24.0,42.858761,43.223455,44.947597,41.725307,126.5
2,3.0,27.0,79.818436,84.790864,83.044411,81.770154,232.0
9,10.0,31.0,95.138939,94.881926,94.894641,95.044364,271.0
7,8.0,32.0,81.953782,82.821588,89.908481,84.153438,244.5
10,11.0,32.0,65.502777,62.735079,67.342077,61.912685,192.0

    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14
0    0   4  17  14  12   2  12  15  16  10  19   4  11  17   2
1   14   0   8   6   6   5  17   8  19  14   8   1   4   6  14
2   14   8   0   5  10  12   1   6  16  10   8   1  11  12   1
3    9  16   2   0  14  19   7  11   5   7   5  15  10  13  15
4   10  17  17  15   0  19   8  19  11   6  19  14  14  10  14
5    6   4  10   5  14   0  19   7   4   5  15   9  12   3   2
6   18  12   7   7   2  17   0  19  15   9   4  10  14  19  13
7   12   6  14  11  15   7  19   0   4  15  12   6   7   5   3
8   18   9  14  11  18  18  16  17   0  13   6   3   9   2   8
9    6  17  14  17  16  10   1   1   3   0   9   2   3   6   6
10  13  13   8  14  12  13  12  11   6  13   0   1   1   1   9
11  19  16  14  14  12   5   4   2   7   6   7   0   8  14   2
12   4  13  13  18   6  11   7   4  11   5  15   4   0  10   6
13  15   2  17  19  14   3   1   1   7  15   4  13   2   0  11
14  12   9   6   5   5   3   6  12  17   8   5   9   9   5   0

,type,arrival time,process_time0,process_time1,process_time2,process_time3,due dates
12,13.0,3.0,28.814194,31.038356,31.892855,28.585115,78.0
3,4.0,4.0,32.129399,31.704049,31.878851,30.410258,84.0
6,7.0,4.0,66.049257,67.097341,64.124384,65.107905,169.0
9,10.0,4.0,29.542496,32.281569,29.295469,29.729964,79.0
2,3.0,9.0,63.869222,60.452018,60.135119,60.030582,161.5
0,1.0,12.0,20.715955,20.588863,16.509740,22.384769,62.0
11,12.0,17.0,28.713469,27.201461,24.601571,27.013709,87.0
4,5.0,19.0,12.590102,13.004040,13.603304,13.692266,54.0
5,6.0,20.0,16.948734,16.935019,19.969361,19.940428,70.0
13,14.0,23.0,36.964279,41.370959,40.474203,38.370050,120.5
8,9.0,25.0,59.030920,64.699361,59.857149,66.472126,180.0
10,11.0,30.0,18.872827,19.751373,19.314947,20.365616,75.0
14,15.0,30.0,33.234047,28.925043,25.002711,26.064112,97.5
7,8.0,34.0,96.734448,97.985778,95.107594,98.099115,279.0
1,2.0,35.0,9.033790,12.014528,11.387087,11.966245,65.0

    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14
0    0   3   5  15  17  10   9  19  18  10   9  13   3   6   2
1    8   0   7   6  14  18   9   4  15   3  14   3   1  19  12
2   11   5   0  15  15  10  18   7  17   7  16  15   8   7  15
3    1   9   7   0  12   2  17   4   4   8  15  10  16  13   5
4    3   6   5   9   0  10   8  15  11  13   5   8   5  13   5
5    5  17  13   7  16   0  13   1  19   4   5  18  10  16   3
6    2  19   3   8   4   4   0  14  16  11  15   6  14   3   9
7    9   4  14   4   6  18  15   0   1  10  10   1   9   7   9
8    8  18   7   1  10   6  13   6   0  14   7   4   7  19  16
9    2   7  10  17   7  12  15  19   1   0   4  10   8  12  10
10   1  11   1  18  18   9  10   3   8   2   0   2   5   8  19
11   8  11   3  16   6   8  13  15   8  10  10   0   1   6   2
12  18  16  12   1  12   1   3   7   2  12  11   4   0   3  14
13   3   5  10  14  10  16  11   9   3  12  16   1   9   0  16
14  10  11   3   3   2  14   4  10  12  13   8  18  19   4   0

,type,arrival time,process_time0,process_time1,process_time2,process_time3,due dates
2,3.0,2.0,24.815362,27.979871,28.692195,27.158494,69.5
6,7.0,6.0,53.402114,57.144871,54.717646,56.547668,143.5
10,11.0,7.0,22.472143,25.068564,21.345464,22.578923,64.5
3,4.0,8.0,11.789833,17.670892,11.261149,15.211394,43.0
13,14.0,8.0,70.221053,70.694661,69.694349,72.145273,185.5
12,13.0,11.0,21.176047,17.387462,19.704816,22.861985,61.0
9,10.0,12.0,35.785134,36.443478,35.412962,32.596876,104.5
11,12.0,12.0,82.252003,80.678007,81.332630,85.823335,217.0
7,8.0,15.0,72.173134,68.528893,68.647622,70.695973,192.5
0,1.0,17.0,31.698834,27.128247,27.653103,32.823674,92.0
8,9.0,17.0,60.284261,60.103163,60.151848,63.794044,167.0
1,2.0,20.0,80.603889,84.419533,81.599307,83.971109,227.5
14,15.0,24.0,36.271704,38.996845,36.141807,36.766130,119.0
5,6.0,27.0,91.035376,86.319794,88.482790,89.984770,252.0
4,5.0,33.0,22.079641,22.615331,20.187456,20.980976,83.0

    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14
0    0   3  10  19  10  18   1   3   3  18   3  10   1  11  16
1   11   0  19  12   4   3  18   7  18   7   4  11  13  15  10
2    5   4   0  11   1   3  16  11   5   6  14   2  11   1   7
3   15   1   1   0  13  16   1   1   5  15   8  13   7   6   9
4   17  17  12  14   0   6   2   5  12   2   2   4  13  19   2
5   15  17   2  11   1   0   4  10   2  13  17  11   3   7   3
6   17  19   5   8  13  11   0   2  14  16   1  17   2   9  12
7    9  11  16   5   2   1  18   0  12   3   4   7   1  11   1
8   18   2   3  18   6  17  15   9   0  15   8   2  15  12  12
9   16  17   6   7   9   9  10  11  12   0   7   2  16   5  11
10  13   9   4   3  13  13   6  12  10   7   0  11  17  18  17
11  10  12  19  18  19   2   5  18   3   5  12   0   3   2   9
12  13  16   3  13  16   9  17  17  17  12  15   7   0  15  13
13   2   4  14   8  19  13   8   4  10   2   2  12  12   0   6
14  18   4  15  17  15   1   2  15   7  12  16  19   9   4   0

,type,arrival time,process_time0,process_time1,process_time2,process_time3,due dates
2,3.0,2.0,33.628447,32.084021,34.329114,34.270304,89.5
4,5.0,2.0,94.311629,95.059646,93.515224,94.732701,239.5
1,2.0,3.0,68.615853,69.473242,69.165870,71.072635,178.0
8,9.0,6.0,63.168502,65.941184,64.645157,65.495204,168.5
9,10.0,8.0,55.734643,54.761806,57.508279,55.230242,150.5
10,11.0,12.0,54.735249,51.092382,49.762151,53.994646,144.5
6,7.0,14.0,44.671649,47.492302,42.582998,40.169136,124.0
5,6.0,18.0,88.732305,92.551508,90.194429,89.534097,245.5
13,14.0,20.0,59.347016,62.915604,61.596758,62.136529,175.0
14,15.0,24.0,16.179252,13.392197,15.513698,12.696495,59.0
12,13.0,25.0,40.780485,42.359314,40.441211,39.891512,130.0
0,1.0,26.0,51.405748,52.968385,51.893054,50.383068,158.5
7,8.0,26.0,19.415281,22.014531,18.760077,16.217433,76.0
11,12.0,32.0,31.438742,30.109354,31.528763,30.611598,112.0
3,4.0,36.0,28.333856,27.075802,27.625860,27.674366,103.5

    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14
0    0  10   2  15  18  10   2   8  17  12  13   7  16   1  13
1   12   0  12   8  16  18   3   9  18  13  15   7   6  10  18
2   16   2   0   8   4  12  11  17  12  18  18   6   2  13   6
3    9  13  14   0  10   5  11   8   8  14   1  11   4   3  15
4   16  11  13   9   0  17  16  19  10  19   8  13  11   9  13
5    6  16  13  19   2   0   8   9   9  16  19  12   8  15   3
6    9  18   6  17  16   5   0  16  18  16  17  16  19   1   4
7   13  12  11   8  12   4  17   0  17   5  10  10  14  11   6
8    9  10  15  11   9  12  18  11   0   5   4   2  18   4   7
9    4  10  13   1  15   1  10   5   3   0   1   9   2   8   4
10   3  14  19  18  16   6  15   4  19   4   0   4  14  19  12
11   9   7   8   2  15   6   7  13   3  19   8   0  15   6  16
12  13   8   1   8  17   1  11   3  11   7  19   9   0  17  13
13   7  13  10   7   5   3   8   5  17  13   7  11  18   0  15
14   1  17   5   2   5  16  17   2   1  12  11  13  11   4   0

,type,arrival time,process_time0,process_time1,process_time2,process_time3,due dates
7,8.0,1.0,32.325282,33.393223,34.397105,37.628218,88.5
11,12.0,1.0,38.290275,36.673798,38.167550,41.177520,98.5
1,2.0,2.0,54.231487,52.858152,54.606017,49.953740,132.0
13,14.0,3.0,14.853569,15.716440,18.188619,14.574832,40.5
3,4.0,7.0,57.211207,57.219055,58.505465,57.718650,154.5
5,6.0,13.0,51.121058,49.837401,47.375217,51.572039,135.5
4,5.0,15.0,72.081565,73.623274,72.416137,73.579083,197.5
12,13.0,17.0,55.750036,54.357095,49.415817,55.565020,154.5
6,7.0,24.0,71.675319,73.313016,68.881939,67.810701,196.5
2,3.0,28.0,88.800933,83.071465,82.091663,86.754588,243.0
14,15.0,30.0,85.961344,82.031880,80.797323,78.624286,240.0
9,10.0,31.0,69.332873,71.763929,71.037819,73.395312,211.0
0,1.0,36.0,57.663534,61.078428,62.474836,62.151418,186.0
8,9.0,36.0,22.824729,19.089855,21.290671,21.018832,88.5
10,11.0,36.0,56.220803,58.348301,57.046192,60.029643,176.0

    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14
0    0   7   9   5   2  16   1  17   8   8  12  12   5  13   8
1    8   0  16  13  15  19   4   7   7   2  15   7   6   7  18
2   12   6   0  17   6   1   5   6  19  14  19  11   8  13   2
3    9  18  13   0  19   7  14  17   3   6  15  16  11  10  10
4   15  19  16  17   0   8  12   8   5   2   9   2  13  12  14
5   10  16   7  10  11   0   5   6   5   3  12  11   6  10  14
6    1  15  18  19   3  14   0   5  16  16  14   8  19  10  16
7    1  11   6  13   9  10  11   0  12   9  17   5   7   2   2
8   15   5   5   7  18  11  11   8   0  11   8  15   8   8   6
9    2  11   1   4  16  17   7  19  17   0   2  11  19   6   1
10  15  12   8   5   2  16   7  16   8   6   0  18  11  17   6
11  12  18   2   7  12   7   3  16  10   7   8   0   1  15   7
12  17  12  16   1   7  17  15  12  10   6  15   9   0   2  16
13   4  11   9   4  15   9  17  15  19   4   6   7  11   0  19
14  14   4  10   2   5  11   3   7   4   5  17  16   9   9   0

,type,arrival time,process_time0,process_time1,process_time2,process_time3,due dates
7,8.0,12.0,42.804632,43.037952,42.431092,43.337478,119.5
4,5.0,14.0,71.173816,74.549309,74.741410,70.773014,201.5
8,9.0,14.0,89.863057,89.397585,95.382100,91.441128,241.5
10,11.0,15.0,60.497234,57.795002,57.993567,59.377968,167.5
3,4.0,16.0,29.451796,25.376123,25.887322,26.434349,81.0
5,6.0,16.0,36.542715,37.095851,35.466551,39.065196,108.5
9,10.0,16.0,22.187449,24.255910,24.992421,26.113749,81.0
12,13.0,18.0,75.255694,73.831101,75.716591,74.339183,200.5
14,15.0,19.0,96.461403,94.676500,92.909849,95.172781,259.0
13,14.0,26.0,25.836439,27.348174,26.134611,24.325125,91.0
6,7.0,28.0,29.881942,31.664196,27.552590,31.657281,100.5
2,3.0,30.0,70.871169,62.704117,66.104346,65.322672,195.0
11,12.0,31.0,25.681926,20.632178,23.436191,24.236624,91.0
1,2.0,34.0,93.242851,94.622269,92.403208,94.008993,269.0
0,1.0,35.0,63.214112,62.320232,64.926342,60.370382,192.5

    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14
0    0   3  18   3  10   4   4  14  11  14  17  16  13  10  19
1   19   0   7   7  13  11  10   5   9  19   3  18  15   9  14
2    6   4   0   7  17  19  13   4   6  17  19  12   3   7   6
3    4  12   3   0   7  10  11  18   3  15   4   2   6  17  19
4    1   4  11   4   0  13  11   7  13  13  11   5  13   4  13
5   17   5  18  16  10   0   3  17   8  19   9   6  19  13   1
6    1   8   8   7   8   4   0  14   2   4   7  17   3  15   9
7    8   4  19  14   1  16  11   0  12   5   6   2   4   1   9
8    6  10  18  11  18   9   9  11   0  13   6  19   9   7   5
9   13  18  13   2   5   1   6  11  18   0   2  14   5  13  12
10  13   8  12   2  16  12  14  13  10   1   0   1  11  16  14
11  14  14  11  15  17   1  19   2   7  10  18   0   6   9  10
12  14   6  16   4   9  10   9   8   5  17   5   8   0  13  14
13  11  17   1  11  14   1  16  16   8  18   2   2  10   0  19
14   4   9   6  17  14   4   6  13   5   8   6   5  19  13   0

,type,arrival time,process_time0,process_time1,process_time2,process_time3,due dates
3,4.0,9.0,18.536257,18.192060,22.773237,17.709975,51.5
14,15.0,9.0,24.611617,20.452015,20.438467,18.946469,56.5
6,7.0,12.0,80.787539,77.495683,79.988750,82.600655,209.5
4,5.0,17.0,65.301724,65.941438,66.233579,66.338478,182.0
1,2.0,18.0,98.775747,96.834923,98.473416,97.560590,260.5
13,14.0,23.0,30.585628,36.168419,31.739765,27.474345,105.5
11,12.0,24.0,97.328116,96.481479,95.595029,94.841145,261.5
0,1.0,25.0,88.255406,89.292386,90.485505,89.781918,247.5
9,10.0,27.0,28.806703,23.885978,19.217012,23.712508,89.5
10,11.0,27.0,51.882620,51.740930,51.041306,52.701271,159.5
5,6.0,29.0,22.016529,16.274411,24.491972,23.531213,79.0
12,13.0,29.0,29.419065,26.974185,28.401362,26.120741,99.0
2,3.0,34.0,68.435261,73.974351,69.543636,70.738019,209.0
7,8.0,34.0,48.085902,48.986818,50.970973,48.367477,159.0
8,9.0,35.0,13.402319,10.152572,15.607902,9.609064,67.5

    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14
0    0   8  18  14  12   7  13   2   5  11   7  15   4   1  10
1   12   0   4  10  19   9  11   3  18   1  12   9   9  11  17
2    7  15   0   3  12   4  15   8  16   7  14   4  14   4  13
3    4  10   3   0   2  15  18  15   1   8  13   4  13  17  12
4    9  11  12   1   0   6   4  14   9   5  14   8   5  16  19
5   15  14  15   1  11   0  19  15  19  14   9  15  14  18  15
6    9   3  12   5  19  13   0   9  17   8  19   4   2  19   2
7    8   1  19  18  17   9   8   0   2   6   3   5   2   1  12
8   10   4   9   2  15   7   6  15   0   6   4  11  18  13  10
9   12  12   1   5   1   3  13  18   7   0   5  10  11  11  16
10  10  10  14  17  19  18  10   9  18   7   0  13   2  13   8
11   9   6   9  19   1  12  14  12  17  10  19   0  12   3   8
12   9  17   4  10  16   1  10   4  16   1   4   9   0   8  14
13  11   9   8  12  18   9  10  16  10  16  18  16   5   0  15
14   6   1   8  17   3   7   1   1   4   2  18  16  14  13   0

,type,arrival time,process_time0,process_time1,process_time2,process_time3,due dates
8,9.0,3.0,68.313388,65.353399,65.656532,62.470107,168.0
11,12.0,3.0,63.830934,63.536502,64.106411,61.991458,163.0
4,5.0,4.0,18.320991,19.856364,22.657253,18.033409,54.0
5,6.0,9.0,79.463692,79.071533,78.765121,82.313361,206.5
14,15.0,10.0,54.822559,50.676414,52.444757,51.166963,145.0
1,2.0,11.0,27.716473,26.357028,27.491636,24.045350,76.0
13,14.0,11.0,70.907418,69.592181,66.538088,68.978033,183.5
2,3.0,12.0,19.302062,20.337850,21.745414,20.254145,62.0
6,7.0,12.0,17.987289,20.255772,18.809633,12.458171,57.0
10,11.0,13.0,94.152685,95.419572,92.688073,98.141043,248.0
7,8.0,14.0,41.204198,41.531113,40.748525,42.865391,119.0
0,1.0,20.0,19.701600,22.999906,19.808502,24.036740,75.0
12,13.0,27.0,28.310390,29.345234,30.255724,29.203892,99.5
9,10.0,32.0,38.670343,36.004758,38.513922,38.943300,129.5
3,4.0,36.0,86.904713,84.201946,82.557510,83.811825,251.0

    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14
0    0  17  18  13  16  15   6  12   4   4   4  12  15  15  17
1    3   0  17   5  14   9   7   8  12  12   5   5  11  13   4
2    7  15   0  19   7  19  11   7  14  12  11   6   1   4   7
3   11   5  17   0   5   6   9  15   2   4   9  12  15   8  11
4   10  13   9  17   0  16  16  14   5  15   3  17  18   5   7
5   19  17  10   3  13   0  15   2   5   5  16  16  10   5  10
6    4  15   9  15  11   2   0   8  13  17   7   1  13  13  11
7    2   2  18  18  15  19   7   0  12   7   4   4  13  19  15
8   16   9  13   2  11  13  16  14   0  16  16  19  11  18  17
9   14  17   1   1  18  17  14   2  16   0  11   8  12  10  13
10  12   5   2  19   9  15   7  12   1  12   0   7  18  15   4
11   8  18  11   5  19  10  14   1  10  12   5   0   1  19  13
12  17  17  17   5   8   3  15  16   9  10  18   6   0   1  15
13  11  16  11  16   4   9  14  13  19  11  17   6   8   0   3
14  14  19   6  12  19  14  13   2  15   2   8  13  15  10   0

,type,arrival time,process_time0,process_time1,process_time2,process_time3,due dates
11,12.0,6.0,36.746541,37.785398,33.287215,36.373907,96.0
5,6.0,10.0,66.618002,68.272646,66.148974,69.450576,180.0
0,1.0,12.0,94.922430,90.274536,94.574552,90.769749,244.5
13,14.0,13.0,31.956494,35.843093,34.518909,33.740385,95.5
12,13.0,16.0,13.091719,11.571402,15.614674,9.393677,46.0
1,2.0,19.0,78.216351,82.741437,78.406428,77.834142,219.0
4,5.0,20.0,40.636494,37.352006,38.749647,40.132339,117.5
7,8.0,22.0,54.355805,56.431446,53.150101,52.578175,159.5
9,10.0,24.0,92.638593,90.500402,89.250159,90.883056,251.5
2,3.0,25.0,84.734515,82.128075,80.748865,84.536848,232.5
8,9.0,27.0,22.241501,16.142404,18.502751,16.665096,72.0
6,7.0,34.0,88.923230,85.985221,86.838249,88.440622,251.5
10,11.0,35.0,56.215605,58.861551,53.578254,54.101987,177.5
3,4.0,36.0,79.392853,73.507328,73.194051,77.404468,228.5
14,15.0,36.0,65.322890,69.725854,65.481485,64.861534,203.5

    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14
0    0  18  19   1  17  15  19   5  15  12   7  18   3  14   9
1    7   0  17   8   3  17   8   5   5  19   9  10  15  18  16
2   19   4   0  14  18   2   5  18  11   1   2  11   5   4  12
3    1   2   6   0   9   3  11   1   9   4  16  18   6  13   2
4   19   4   2  19   0   2   8  17  12  14   9   8   4  14   3
5    6   1  10   1  17   0  11   5   4  18   9   7   4   6   2
6   13   7  14   9   9  14   0  19   4   3  18   2  12   8  14
7   10   7  19  13  12   6  19   0   1   7  14  12  14  10  16
8    8   8   9  16   9  18   4  14   0  18   9  10  14   6   4
9    9  19   4  17  10   5   5   5   7   0   5   5   3  14  19
10   3   3  17  12  13   7  12  14  15  13   0  17   4  13   8
11   5   4  18  18   3  18   2  12   6  14   7   0   7   5  18
12   2  18   6   7  10   3  13   6   4   5   1  14   0  14   4
13   9   8   9   5  15   7   7  12   6   8  10  18  15   0   7
14  12  11  16   8   8   4   2  15  12   6  12   3  10  19   0

,type,arrival time,process_time0,process_time1,process_time2,process_time3,due dates
4,5.0,9.0,63.916783,63.560888,66.581478,66.768281,166.5
12,13.0,10.0,44.453767,52.951201,49.236869,50.450529,135.0
14,15.0,10.0,15.699385,16.564229,13.835250,17.175535,52.5
10,11.0,16.0,42.227935,42.648260,40.451198,43.489492,118.5
2,3.0,17.0,60.749636,61.212553,56.751510,60.251102,167.0
11,12.0,18.0,52.307601,52.150528,48.989562,52.682591,143.0
5,6.0,20.0,10.531057,13.620566,8.690461,12.141944,52.5
3,4.0,21.0,49.011692,44.511128,49.689106,45.728395,138.5
7,8.0,22.0,72.482287,73.320912,76.758533,72.264250,207.0
0,1.0,24.0,21.488124,24.089627,25.373340,22.524853,86.5
6,7.0,28.0,56.007839,58.284896,54.096205,55.473780,170.5
9,10.0,30.0,16.663822,21.454160,20.618303,21.933540,77.5
1,2.0,34.0,30.992891,32.036917,34.508300,34.727741,119.0
8,9.0,34.0,33.163060,35.912729,33.018542,37.473605,121.5
13,14.0,35.0,49.069076,42.771544,45.526896,49.623473,150.0

    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14
0    0   5  18  13  19   5   1   1   1  14   5  10  12  15  12
1   12   0   2  14   3  19  19   9  17   1   8  18  12   2  11
2    4  10   0  15   5  12  17  18  19  12   4   6  18   6   9
3    1   5  10   0  14   9  11   2  13   9   5   6  16   5  11
4    6   8  15  11   0   4   6  10   2  17  13  16   2  12   9
5    7   7   9   6   6   0  17  11   6   3  15  10   6  12   2
6   15   9  10   8  10  11   0  16   1  19   3   9  17  17   1
7   16  15  12  17  11   7   9   0   2  14  18  18  11  11   7
8    2  13  17  10  11  16   1   4   0   9   7  14   4   9  16
9    3  16  18   8  15  13   9  13   5   0   4   9  11  18  11
10  19   1   8  18   1  11  14   2   8  14   0  14   2  17  10
11   4  18  13   5  14  15  19  17  15  11  10   0  17  10   7
12   7  13   6   8  12  16  15  16  12  19  13   6   0  18   3
13   7   6   6  16   7  15  10   3  10   3   3   7   1   0  13
14  10   5   3   8   9  19  15  13   9  18  14   6  11   4   0

,type,arrival time,process_time0,process_time1,process_time2,process_time3,due dates
0,1.0,3.0,50.389251,55.471381,51.940906,53.871695,133.0
1,2.0,6.0,32.490987,30.616685,31.206771,31.633243,88.5
10,11.0,6.0,86.980675,86.945486,85.465020,86.775877,221.0
12,13.0,7.0,84.130693,85.218989,81.827516,84.648572,217.0
11,12.0,13.0,48.880386,48.619049,45.345098,48.913514,128.0
5,6.0,17.0,65.222168,65.742206,59.982542,61.852546,177.0
3,4.0,20.0,14.484894,15.293734,12.160015,17.987267,57.5
7,8.0,22.0,53.955268,53.880474,57.066925,56.448844,159.5
8,9.0,22.0,72.876617,74.096693,70.681307,69.830165,207.0
6,7.0,27.0,25.225123,24.995801,29.618031,26.372910,94.5
14,15.0,30.0,19.382795,18.880825,19.561874,17.806961,80.0
4,5.0,32.0,34.833294,31.264525,32.615321,31.934613,114.5
13,14.0,34.0,77.286946,78.492386,76.734472,77.174393,229.0
2,3.0,35.0,56.077700,58.462267,58.518157,61.419272,177.5
9,10.0,35.0,97.114259,94.605813,94.420916,94.836524,275.0

    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14
0    0   2  18  18   8   5  11   9  19   4   9  19  10   8   4
1    5   0  15   7  12   5   6   1   8  15  18  10  13   8  12
2    5   8   0   4   8  17   2  19  18   2   6   5  17   6  15
3   19  12  15   0   9  12   5  14   6  17  11   7   5  18  19
4   18  17   6   7   0   2  10  19   9  15  18   8   8   9  13
5    4   1  17   2   2   0   3   4   8   4   2   6   9  10   6
6   10   7   4   4  15  17   0   2  19  17  11   4   3  10   8
7   12  15   3  13   9  18  12   0   4   2  15   7   2   7   1
8    9   8  17   4   5  18   8   7   0  19   5   2  16   5   9
9   12  13  16  18  13   9   6  11  19   0  16  17   4   2   4
10   2   2   6  16   6  19   8  11  19   8   0   8   9  15  16
11  10   9  19   5  11   4  13  18  16  11  15   0   9  19   4
12  19   3  16   5   4   7   1   1   2   3  12  17   0   9   2
13   7  17  13  11  14   8   6   5   1  13  15  19  10   0  18
14  15   5   8   4  14   2   5  17   3  17   7  13  17  15   0

,type,arrival time,process_time0,process_time1,process_time2,process_time3,due dates
8,9.0,1.0,88.789522,89.933149,93.092330,89.822140,228.5
6,7.0,4.0,14.313585,12.801012,14.041799,13.125427,36.5
1,2.0,7.0,81.651547,76.069086,81.129352,75.540045,199.5
10,11.0,8.0,87.736870,90.675629,91.837365,87.395924,233.0
2,3.0,12.0,31.010545,34.120707,36.102686,33.599246,94.5
3,4.0,12.0,53.509143,54.515054,49.439402,52.451687,142.0
9,10.0,19.0,99.927807,99.366447,101.520005,97.067609,266.5
13,14.0,21.0,48.284285,46.524790,44.447534,45.121079,141.0
7,8.0,23.0,96.782058,94.824631,96.324629,93.031895,258.0
0,1.0,24.0,84.413906,86.040987,87.905055,91.537528,244.0
4,5.0,24.0,30.087074,29.283526,27.398819,31.455556,99.0
12,13.0,26.0,25.525334,33.010509,33.500843,29.481845,98.5
5,6.0,35.0,43.120713,44.164310,40.816481,42.600312,140.0
11,12.0,35.0,23.660272,25.160758,27.369127,25.474262,97.5
14,15.0,36.0,21.010933,24.227625,26.221736,21.514706,91.0

    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14
0    0   5  15   6  17  14   6   2   8   4  13  14   5   1   9
1   12   0   7   7  11  17   3  14  19  18  11  18   3  13  10
2   11   5   0  19   8   4  19  18  17   6   2  17  12  11  18
3    8  10  18   0  11  12   3   5   5  18  14  11  14   6   7
4    6  10   4   2   0   7  13  11   9  10   6  16  11  11   7
5   19  14  18  11  10   0   7  18   4   2  18   2  13   8   5
6   15   6   1  10   5  12   0   6   4   9  10   1  12  13  11
7   14  12   3  18  13  13  12   0  18  17   5   2   3  13  10
8   13  14  15  17  19  17  16  18   0  10  13   6  19  14   6
9   12  19  13  12  15   6  19  10  14   0  19  14   6  11   2
10   1  13  16  19   7  18   9  16   7  18   0   4  13  12   9
11   1   7  13   2   3   1   9  10   1   2  11   0   7   7  18
12   6   1  10  17   8   9  11  17  17  14   5  11   0  11  16
13  12   9  11  14   7   1   7  12  16   1   7   5   2   0   1
14   8  19  10   4  11  18  19  14   8   4  17   6  13  15   0

,type,arrival time,process_time0,process_time1,process_time2,process_time3,due dates
13,14.0,4.0,52.859113,55.791293,55.707206,54.378572,139.0
7,8.0,5.0,90.740010,91.596152,92.624987,93.715941,237.5
6,7.0,6.0,88.852007,88.043357,84.747277,86.869217,221.0
14,15.0,9.0,71.506824,71.694025,69.829589,67.960227,186.5
8,9.0,10.0,42.782998,43.601747,48.257696,42.732748,120.0
0,1.0,12.0,54.036251,50.006912,49.637385,48.826274,137.0
3,4.0,18.0,36.004929,33.334022,35.130410,35.543436,103.0
4,5.0,18.0,8.282490,11.310482,9.738799,9.042858,45.5
12,13.0,21.0,30.935855,30.407035,25.367756,30.737579,98.5
5,6.0,23.0,51.986116,51.715253,49.595477,48.961656,155.5
9,10.0,23.0,34.293969,34.782573,33.842443,33.066801,108.0
10,11.0,24.0,36.206696,40.610979,41.067419,40.078115,119.0
11,12.0,28.0,78.499964,77.642081,74.819906,78.372501,223.0
2,3.0,30.0,89.184783,89.298656,91.527878,91.193006,257.5
1,2.0,33.0,92.105281,91.984794,91.270983,92.654665,258.0

    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14
0    0  14  12  18   6   2  14   7   2  11  19   1   5  18  18
1    8   0  19  16   2  11   9   4   3   4  12  15  15   2  13
2   12  17   0  17  17   8  18  11   3  19   1   8  17   8  16
3    5  16  15   0  14  16   2   1   8  19  14   6   5   5  12
4   19  16   7   3   0   2  17   1   4  15   7  17  10  14  12
5    1   4  14  11   3   0   6  13  10   4  18  15  12  16   5
6    2   6  11  18   1  16   0  15   4   5   2  13  12  13  10
7    7  12   2  13  13  10   1   0  16   5   6  10  13  17  11
8    7   7  18   2  18   6   7  10   0   2  18  12   4  12  19
9    8  12   8   1   6  11  14   4   3   0  13  13   6  14   6
10  11   8   9   4  18   8   3   3  16   6   0  12  18  14  11
11   6  18  15   7   6  10   7  17  14   1   2   0  16   8   3
12  11  17  12  17  11   8  10   5  14   1  12   7   0  15   4
13  19  18  19  16  15  15  11   9  18   4  17  10  19   0  11
14  13   6  18  12   9   4  19  13   3   7   6  12  13  12   0

,type,arrival time,process_time0,process_time1,process_time2,process_time3,due dates
13,14.0,1.0,51.702257,50.884595,52.975219,54.378008,128.5
1,2.0,3.0,90.105081,91.677469,90.159684,87.857100,233.0
4,5.0,5.0,23.529529,22.436466,24.054048,22.171052,60.0
11,12.0,9.0,75.037625,75.806001,72.189244,77.028107,196.5
10,11.0,10.0,43.575098,45.987761,45.501120,45.631992,120.0
5,6.0,13.0,25.737626,24.452475,24.879005,23.254456,75.5
6,7.0,21.0,61.214253,59.898882,58.065158,60.320182,168.5
8,9.0,23.0,36.963050,37.322778,38.750414,36.562330,120.5
12,13.0,23.0,91.648692,96.274483,92.469387,90.181810,253.0
3,4.0,24.0,40.057387,38.830808,38.495510,40.098776,126.5
7,8.0,25.0,30.969976,30.929038,27.963920,28.859231,95.0
14,15.0,29.0,54.178356,54.554472,55.689504,51.280864,166.5
2,3.0,33.0,42.750378,42.413206,38.885522,41.360517,133.0
0,1.0,34.0,33.770172,32.824662,32.340286,33.909883,119.0
9,10.0,36.0,79.790285,73.814885,70.797624,75.226327,223.5

    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14
0    0  10   7  12   8   8  10  10  19  11   7   5   4  14  10
1   11   0   9  14  14   4  17   7   1   7   4   1  10   2  11
2   18   6   0  15   3   6  18   9   8  13   5  16   1  12  14
3   12  10   4   0   8  10   2   6  18   3   4   3   3   7  17
4    2  16  16   3   0   2  11  12  11   5  12  11  10   7  14
5    2  12  10   1  19   0  10   1   8   8  17  18  14  16   3
6   19   3  19  14  18   2   0  16  17  16   1  18  13   7  17
7    8  14  12  18   2  10  17   0   2  16   3  18  12   8   3
8   10  16   1  10  14   7   1   4   0   9  10   8   8  11   4
9   16  16  17   8  12   1  18  18  19   0  11   4  14   6   6
10  15  11   8  15  19  19   8   7   5  17   0  13   3   7  11
11  14   1  17   7   6   9  14  17  13  19  18   0  13   2  15
12   2  10   2  16   3   6   3  14   3  15  15  11   0  19   3
13  13   1  19  13  10  17   5   6  13  19  17   6  12   0  12
14   4  16   4  18  16  18   2   7  10   5  15  16  15  12   0

,type,arrival time,process_time0,process_time1,process_time2,process_time3,due dates
10,11.0,1.0,61.245199,61.938691,63.488178,64.963647,158.5
8,9.0,2.0,94.042990,93.193600,93.765247,93.455622,237.0
11,12.0,6.0,72.901844,69.183187,71.097465,70.765430,183.5
9,10.0,7.0,39.674733,41.286760,39.336395,43.795662,107.0
6,7.0,8.0,19.827196,13.140248,13.889299,16.795875,43.0
5,6.0,10.0,99.435646,100.184540,100.107103,97.186745,255.0
3,4.0,12.0,40.975236,38.945350,35.622803,38.778707,107.0
4,5.0,15.0,8.546663,7.279863,13.581339,12.450825,42.5
13,14.0,18.0,99.763359,97.704249,95.593591,95.425029,260.5
7,8.0,19.0,66.960136,67.875031,65.228952,66.214965,184.0
1,2.0,20.0,73.183902,76.050494,76.275972,77.175474,207.5
2,3.0,21.0,64.634585,58.552764,62.592763,63.515997,176.0
0,1.0,23.0,68.063750,67.868040,67.031894,69.745601,195.5
12,13.0,28.0,47.689862,51.174511,44.329737,49.576117,148.0
14,15.0,28.0,45.325039,42.233485,44.241613,45.070828,140.5

    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14
0    0   5  18   6  11   9   4   4  11   8   7  15  17   6   9
1   10   0  19  18   8   4  15   8   3  17  14   3   2   5   8
2    9  14   0   1  18  10  19   9   1   9   7  11   6  15  11
3    2   4  13   0   3  14  13   6  13   3  16   3  15  13  17
4    1   2   1   1   0  18  13  18  19   4   1   3  13   8  14
5   19  18   7  17   6   0   4  12  16  13   5   8   5  18  11
6   17  19   8   3   7  14   0  12   3   1  19  19  18  17   9
7    2  18  14   3  17  13  15   0   6   6   7  11   1   6  16
8    5   6  16   8   3  13   7  15   0   3  18  14   2   1   9
9   12   1   1   1   4   3   6  15   3   0   2  11  18   7  15
10  11   7   7   6  19   8  15   9  13  18   0  15   1   4   5
11  12   9  18  15  16  10  13   6  10   2   6   0  16  10   3
12  16  14   5  18   7  10  13   5   2   6   1   8   0  17  18
13  14   1  11   5   2   8   1   4  14   4  19   4   1   0   8
14   6   5   5  11  13  12   8   1   8  10   8  15  10  15   0

,type,arrival time,process_time0,process_time1,process_time2,process_time3,due dates
1,2.0,2.0,81.869836,77.843046,80.846092,78.203051,197.0
5,6.0,7.0,95.373512,96.133431,96.201475,96.737756,244.5
10,11.0,8.0,71.580108,71.846043,68.492083,73.213838,185.5
12,13.0,10.0,71.248897,71.770022,72.218016,74.098370,187.5
14,15.0,13.0,65.905946,66.010298,65.064582,66.437428,183.0
6,7.0,17.0,19.065851,16.760174,21.208114,23.293446,64.5
0,1.0,19.0,86.845212,90.327949,85.371163,86.865179,239.0
2,3.0,20.0,85.885427,84.068336,85.525241,85.162379,235.0
3,4.0,21.0,28.330148,27.178335,28.694440,28.592436,91.0
13,14.0,21.0,92.258239,88.979450,91.036711,85.169292,246.0
8,9.0,22.0,98.079786,99.974947,99.724984,101.389324,269.5
9,10.0,23.0,45.265981,44.586215,42.598765,45.079392,135.5
11,12.0,24.0,90.526590,94.368912,96.936545,94.995894,259.0
4,5.0,32.0,87.843113,88.320578,92.699020,90.689527,252.0
7,8.0,33.0,86.035948,93.349850,87.522982,88.614227,258.0

    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14
0    0   9  16  16   4   2   9  12  18   6  11   1   8  13   1
1    1   0  13  18  17  13  16  17  17   5  19   7  18  11   8
2    3  16   0  17  14  18   9  19   2  13   1   9  16   9  11
3   13  19  16   0  12  11  14   8   8   9  15  10  19  14  14
4    2  10  15   1   0  16   8   4  13   8   8  15  10  18   3
5    1  11   4   7   2   0   9  14  18   5   8   3   4  13   1
6    1   3  11   1   7  19   0  11   6   4   5   3  14  11  15
7    5   2  19  11   6   2   1   0  17   6  12   4  12  16  18
8   10  18  14  12   3   9   8  19   0   4   2  16   9   6  10
9   19  16   7  13  12   4  18   5  19   0   7  13   3   2  15
10   8   2  16  13  16   8  13   2  14   7   0   9   7   9  10
11  11  12   5   2  12   2   1   3  14   5  18   0  12   5  13
12  15   8  19  13   9   5   5   5   9  19   3  12   0   2  19
13  10  17  18   9   6  14  19   4  13  17   8  18  16   0   3
14   2   1   1   7   2  10  17  11   3  19  13   5  18   6   0

,type,arrival time,process_time0,process_time1,process_time2,process_time3,due dates
14,15.0,1.0,35.567783,36.887254,34.650907,33.610236,86.0
4,5.0,8.0,46.955006,49.185444,45.473654,46.723381,123.0
2,3.0,13.0,62.482366,60.517052,64.377890,59.676226,168.0
0,1.0,15.0,68.356895,68.115332,68.309252,68.183998,185.0
9,10.0,16.0,67.417950,63.650539,63.083724,64.727596,178.5
8,9.0,23.0,88.861098,83.555063,86.968246,81.486881,233.0
6,7.0,25.0,18.854008,14.917868,17.406668,16.819726,67.5
1,2.0,27.0,74.826282,75.667507,74.121859,77.108042,222.0
7,8.0,30.0,80.312463,77.003692,84.717048,81.309642,237.5
3,4.0,31.0,79.056496,79.503613,84.592430,77.734280,238.5
5,6.0,33.0,38.631004,37.416570,40.342634,41.492977,130.5
11,12.0,33.0,82.652021,85.358242,81.595348,79.170918,238.0
13,14.0,33.0,61.171124,64.170227,63.823609,62.918712,188.0
12,13.0,34.0,9.124196,12.794653,9.789343,13.323161,61.5
10,11.0,36.0,56.671772,57.526740,57.774429,56.328104,173.5

    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14
0    0  14   1  13   8  18  11  19   8   9  13  13  12   9  10
1    2   0  13   6  11   5  16  11   3   3  11  17   1  12   6
2    1  12   0  13   9   8  17  17  12  16  18   5  19  11  18
3   18   1  12   0   1   8  18  12  17  10   5  13  14   8   3
4    6  19   7  11   0   4  12  17   3  14  18  15   4   2   2
5    4   5   3  15  18   0  16   2  19  19  17   2   4   6   8
6    4  14  12   6  14   2   0  11   1   8   9  10  15   3   5
7    4  12  11  15  14   3  17   0  18  13   5  19   3   1   9
8    9   4   2  12  11   2  17  14   0  13   4  16   6  15  17
9    5   1   8   7   7  12   6  11   3   0  17   7   3  19  11
10   3  15   2  11  13  10   7  15  16  17   0   6  12   9  13
11   7   7   7   4   5  17  16   7  12  15   6   0   3  15   6
12   9  12   4   9  19   2   2   3  12  15  16  12   0   7   3
13   2  15  16  19   6   5   7  19   4  16  17  10  13   0   6
14   1  19   9   5  12  17  19  19   9   9  15  14  10  17   0

,type,arrival time,process_time0,process_time1,process_time2,process_time3,due dates
12,13.0,1.0,78.013524,75.826175,77.577956,76.044952,193.5
0,1.0,4.0,28.672336,32.185602,32.493916,33.501923,79.0
6,7.0,5.0,21.403781,19.350990,25.964708,21.796969,60.0
5,6.0,6.0,29.300826,23.554854,30.567392,30.049828,76.0
4,5.0,13.0,22.428090,19.463394,17.179758,18.553377,60.5
11,12.0,14.0,84.918373,85.104553,86.704507,82.356742,226.5
7,8.0,17.0,25.304254,31.564539,32.493623,32.078798,92.0
3,4.0,18.0,32.662403,32.039409,31.952047,29.210279,100.5
14,15.0,20.0,97.938348,96.616058,97.876822,96.698126,262.5
8,9.0,21.0,44.026069,43.440034,42.897369,43.454526,131.0
10,11.0,22.0,44.799941,46.936593,38.397313,44.289281,129.5
1,2.0,30.0,95.588797,95.059328,93.069203,98.494347,267.5
9,10.0,30.0,12.059987,12.121445,12.751544,13.236812,65.0
13,14.0,31.0,99.044680,97.078158,96.222805,99.813672,278.5
2,3.0,36.0,98.425959,94.092904,93.002036,97.015035,273.5

    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14
0    0  19   6   9   9  11  17   4   3   6  17   3  15  14  10
1   19   0  17  14  12  17   5  18   5   2   5   3  10   7  16
2   15   9   0   2   3   3  19  10   7  11  19  15  10  19   6
3    3  18  14   0  14  19  19  10  12   7   7   1  18   3  18
4   17  13  10  16   0  18  19   1   2   3  11  16   8  12  15
5   13   9  14  11  18   0   5   9   7   2   3  10  19   9   7
6    7  15  16   1  16   6   0  18   5   9   9   1  10   9  18
7   16   1  17  15  13  12  12   0   7   8   6  11   7   2  14
8    2   1  10   4  13  19  18  19   0  10  14   2  10  13  12
9   16  10   2  10   4  10   5  15   2   0  13  10   6   4   5
10  19  12   5   2  16   7   5   9  11   5   0  12   3  16   6
11   2   1  12   8   8   9  17   9   3  15  18   0   9  15   1
12   8  19   5   8   3   4  15  19  18  16  16  19   0  14  18
13  14  12   4   8   9   6  17  13  10   9  17   2   2   0  16
14   7  16  16  10  19   5   6   4   5  10   3  18  14   9   0

,type,arrival time,process_time0,process_time1,process_time2,process_time3,due dates
0,1.0,1.0,27.407842,30.245325,26.541804,30.599423,68.5
6,7.0,1.0,64.055724,63.637788,64.342054,62.283996,161.0
1,2.0,4.0,47.290698,47.112283,45.655313,48.714808,121.5
14,15.0,5.0,41.570414,41.613257,36.347914,41.713019,107.5
2,3.0,8.0,60.530121,57.106331,58.876381,60.380854,158.0
3,4.0,10.0,98.451939,104.036850,96.287718,97.842440,255.0
10,11.0,12.0,14.769425,14.039785,14.027962,12.329102,44.5
8,9.0,17.0,43.559693,45.266818,45.763565,44.966295,129.5
4,5.0,18.0,64.655743,60.588641,63.008111,63.547797,178.0
11,12.0,23.0,48.969740,53.849177,52.181888,53.207405,153.0
5,6.0,25.0,50.102241,50.416727,48.179811,49.420549,150.0
12,13.0,26.0,77.837957,77.565403,76.221506,78.137104,218.5
9,10.0,28.0,31.100596,28.139136,30.182017,31.831948,105.5
7,8.0,33.0,77.030275,80.882723,81.190319,79.752815,230.5
13,14.0,34.0,24.471879,22.911882,22.948669,21.928526,94.0

    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14
0    0  17  16   4  16  13   9   3  16   7  17  12  12   2   6
1    5   0  16  11  19   8  10   8  13  11  19   2   7   1  16
2    5   3   0   4  12  18   8  11  14  16  10  14   7   1  19
3    5   3   6   0  13  13   7   8  13   9   7   4  14   9   3
4   12  19  16  14   0  17  18  10  18   4  11   4  15   7   5
5   18  13  17   4  14   0   1  12  12   4   2   6  10   6  16
6    6  10  17   1  15   2   0   5   8  15   2   8  10   7  15
7    8   9   5   3   5   8  18   0   8   9   4  15  15   2   7
8    3  14  17   1  12   3  13  19   0  13  14  17  16   4   4
9    7   2  14   6   8   2   8  13  18   0  14  19  15  15  16
10  11  15   6  13   1  15   2  19   5   6   0  12  16   4  11
11  11   6   8   9  10  17   2   4  17  18  15   0   2   5   9
12  17   6  13   5  17   4  14   5  10  19  15  18   0   7   7
13  10   4   4   5  17  10  13   3  17   1  13   6  18   0  15
14  18  14   2   8   5   3   1   4  19   1  12  14   1  11   0

,type,arrival time,process_time0,process_time1,process_time2,process_time3,due dates
3,4.0,1.0,79.518150,80.304055,81.204493,81.101432,203.5
13,14.0,1.0,30.300370,26.137531,28.212314,28.754097,71.0
1,2.0,4.0,25.679731,27.457236,23.409750,21.992263,66.5
7,8.0,4.0,18.005820,17.975380,20.580498,20.637364,61.5
6,7.0,10.0,39.560442,34.678397,36.822642,40.058804,107.5
9,10.0,10.0,75.055295,71.590350,74.138394,72.399482,195.0
12,13.0,11.0,86.328764,80.372558,80.453132,83.223616,216.0
5,6.0,13.0,50.350330,47.751085,48.942704,48.537570,130.5
0,1.0,17.0,13.708562,12.739643,12.523227,16.166423,52.0
14,15.0,17.0,35.749998,30.200411,35.687324,35.007090,104.5
10,11.0,24.0,77.547959,76.828376,75.421075,72.298250,211.5
4,5.0,25.0,46.491584,47.391824,42.538602,43.918224,142.5
8,9.0,26.0,39.396093,39.883346,37.861037,36.395313,121.0
11,12.0,27.0,76.924358,76.257590,77.489869,73.752770,209.5
2,3.0,28.0,50.185822,49.096808,47.362124,50.529844,148.0

    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14
0    0   6   4   2   1   7   9   4   4  12   5   9  11  11  11
1    5   0   1   2   4   4   6   4   9   4   9  12   6   5   7
2    8   2   0  11  12   2  19  13  13  17  17   5  13  18  12
3    9   7  11   0  14   6   2  11  17   7   7  17  13  12  13
4   13   1   4  16   0  18  10  14   9   9   5  16  10   1   7
5   18   3  18  17  12   0   6  19   1  19  11   7   2   4  10
6    8  15   6  19   3  16   0  12   3   7  16   3   8  13  12
7   10   4   6   6  17  16  18   0   1  13  19  19   7  17   2
8    6   4  13  19   8   7  18  11   0  16  17  11  10  17   1
9    7  16  14  11   7  10  13   7  19   0   8  19   2  13  14
10   1  17   7  14  10   5   7  13   7   1   0  10   1  15   3
11  11   7  16   4  13   2   3   1  10  13  19   0   8   6   4
12  16   1  10   3   9   8  18  14   2  16  17  14   0   1   3
13  11  15  16   5   4   6  14  10  19   4   6  14   9   0  11
14  11  11   9   5   6  18   9   4   6   3   9  19  18   8   0

,type,arrival time,process_time0,process_time1,process_time2,process_time3,due dates
14,15.0,3.0,33.763346,33.635254,32.442854,34.739259,88.0
13,14.0,10.0,40.118915,43.617469,45.552582,40.273644,115.0
5,6.0,11.0,69.457213,70.128178,68.111955,70.543667,183.5
4,5.0,14.0,53.957026,56.797520,58.707573,54.719476,151.5
11,12.0,14.0,59.204516,56.470444,59.425760,57.754457,161.5
10,11.0,17.0,9.371801,14.673489,14.491781,9.573371,52.0
3,4.0,19.0,62.452470,67.232986,68.224887,67.447287,184.0
6,7.0,21.0,43.199165,40.501913,40.801779,40.492013,123.5
7,8.0,21.0,98.274358,93.499945,95.570783,96.738299,261.0
12,13.0,23.0,34.374949,31.969266,33.683770,32.324165,110.5
2,3.0,31.0,57.721537,54.478260,55.909581,58.790212,176.0
8,9.0,33.0,87.183293,83.693047,87.584547,84.592640,248.0
9,10.0,33.0,31.919900,33.129054,33.547442,33.600907,115.5
0,1.0,34.0,20.851288,14.151429,20.577155,18.041747,81.5
1,2.0,34.0,24.883040,26.952538,21.822830,20.552562,89.0

    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14
0    0   2   8   6   7  14  15  17   6  16  15  12   6  10   1
1    3   0  15   2   2   1   5   9  13  18  18  18   2   7  11
2   11  19   0  10   9  18  11  17  13   7  19  18  12   4   8
3   10   6   1   0   5  16  13  15   2  10  16  17   7   4  13
4   19  11  17  12   0  12   7   8   1  18   9  15  11  19  11
5   15   7  15   9  15   0   8   3   6   2   1  10   6  11  13
6    5   6  10  10   5  19   0   3  14   2  10   7   3   5  15
7    1   6  16   9  15  15  11   0   6   7  11   5  19   3   2
8    6  16   5  17   4  18   3  12   0  11  14  19  16  11  11
9   17  12  18  14  12   1  15  14  18   0  11   4  10   7   3
10  14  14   3   8   9   4   5  19   6  14   0   9  15  12  13
11  19   8  14   6   6  12   3  10  14  14   5   0   5  15   6
12  16  12  11  17   7   9   5   8  10   7  19   9   0   7   8
13   5  14  14  18  17   7   5  14   2   2  11   3  17   0  15
14   6   4   8   6   8  11   3   4   4   6   2  14  17  12   0

,type,arrival time,process_time0,process_time1,process_time2,process_time3,due dates
11,12.0,4.0,82.252430,84.965420,83.293252,87.385126,214.0
7,8.0,9.0,37.758354,39.694430,34.687117,35.868683,99.0
9,10.0,9.0,47.369514,51.966646,51.469486,51.696903,139.0
8,9.0,14.0,95.034783,96.662490,95.371590,97.126585,254.0
4,5.0,16.0,71.115468,69.350772,72.240829,70.591267,193.5
3,4.0,18.0,48.796649,50.286525,51.651194,53.146886,145.5
13,14.0,18.0,22.157947,17.911370,20.413155,23.256350,70.5
0,1.0,20.0,46.239009,53.933327,48.613537,48.819461,145.0
2,3.0,20.0,37.520743,33.664992,32.212309,33.915141,102.5
14,15.0,22.0,21.333402,23.027232,20.678443,18.955857,77.0
10,11.0,23.0,63.279497,60.363030,58.867318,61.714093,173.0
12,13.0,25.0,37.365859,38.750516,35.557874,37.854770,117.5
5,6.0,29.0,55.035482,56.543393,59.764171,56.154456,171.5
1,2.0,32.0,24.548248,27.171142,25.947078,26.842999,99.5
6,7.0,33.0,16.289632,16.602655,14.046080,15.284363,70.5

    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14
0    0   4   1   9  15  18   3   3   6   7  15  16   5   9   9
1    4   0  19  10  10  17   4   8  18   3  14   8   3  19   8
2   11  19   0  19   2   8   1  18   3   3  15   8  17  18  11
3    9   7  10   0  12  12   3   4  12  13   9  15   6   7   9
4    7  15  11   9   0   5   2   9  11  14  18  11   2  14  13
5   11   3  11   5  18   0  17   5   8   3   1   9  13   5  17
6    8   8  13  15  13  13   0  18   8   6   4  16   5   6  16
7   12  11   6  10   6  15   7   0   2   3  10  16   4   2  14
8   12  12   7   4  16   9  19  19   0   3   9   7  17  17   9
9   13   3  19   9   6   7   1   4  18   0  12  13   8   1   8
10  17   1   3  10  19   5   4  13  18  19   0  19  16   4   5
11   1   5  19   6   7   1   1   9   3  18  17   0  18  12   7
12  13  18  18  13  11  17   3   2   3   4  19   1   0   3   3
13  16   9   8  17  15  12  17  14   5  18  14  19   5   0  19
14   2  14   7  19  11   7  11   7   3  12  11  11  15  16   0

5