In [2]:
import numpy as np
import pandas as pd

In [7]:
n_jobs = 15
n_machines = 4
k = 2.5

setup_times = np.random.randint(1,20,[n_jobs, n_jobs])

job_data = np.zeros((n_jobs,4))
for i, job in enumerate(job_data):
    job[0] = i+1  #type
    job[1] = np.random.randint(1, 10*n_jobs/n_machines) #arrival_time
    job[2] = np.random.randint(10, 100)  #process_time
    job[3] = job[1] + k* job[2]
    

job_data_df = pd.DataFrame(job_data, columns = ['type','arrival time','process time','due dates']).sort_values(by=['arrival time'])
setup_times_df = pd.DataFrame(setup_times)

display(job_data_df)
display(setup_times_df)
job_data_df.to_csv('job_data.csv', index=False)
setup_times_df.to_csv('setup_times.csv',  index=False)

    type  arrival time  process time  due dates
8    9.0           1.0          77.0      193.5
4    5.0           3.0          50.0      128.0
5    6.0          10.0          23.0       67.5
12  13.0          12.0          88.0      232.0
0    1.0          13.0          90.0      238.0
3    4.0          14.0          86.0      229.0
11  12.0          14.0          36.0      104.0
6    7.0          17.0          18.0       62.0
13  14.0          17.0          85.0      229.5
7    8.0          19.0          81.0      221.5
10  11.0          22.0          64.0      182.0
2    3.0          24.0          12.0       54.0
14  15.0          27.0          44.0      137.0
9   10.0          33.0          91.0      260.5
1    2.0          35.0          17.0       77.5

    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14
0    6  12   6   3   4  17  13  16   6  14  10  12   5   2   4
1    9   5  16   6  12  17   9  11   5   5   3  17  15  14  18
2   19  14   5   7  15  17  10   5  10   3  15   2  19  16   9
3   18  15  13  18  12   7  15   2  12   1  17  13   5  13   4
4   11   5   4  16   5  13   7  12  19  15   1   8  13  10  12
5   12  15  18  14  17  16   9  14  19  15  18  14   2   9  10
6    8  19  19   3   1   5  11   9  13   4   2  19  18  18  19
7   13   4  16  16   2   4  11   3  10  15  18  15  10  17  18
8    6   8   3   4  17   4   3  10   7  10  13  13   9   3   5
9    5  10   8  15   8  12   6   4   5  13  12  14   7   5  15
10  18  19   3   5  12   1   8  14  14   2   6   9   2  16   3
11  14  10   9   8   5   7  17   7  13  10   2  17  16  18  13
12   7  11   2  15   4   8   7   8  15  16  19  11  13  19  16
13  17  19  18   5  15  17  17   8  11  11  16  18  16   1  12
14   2  19   4   5   2  12  19   8   9  13   6  10  11  19   2